<!DOCTYPE html>
<html>
  <head>
    <title>RoutesControllersIntro</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>

      <!-- Any messages stored in flash under the keys :alert or :notice will be displayed at the top of the page.

      Because of the code in our layout, this message will appear to the user at the top of the page after they are redirected. Since flash gets emptied out after every request, if you refresh the page or navigate to a different one, the message will disappear.-->
      <% if flash[:alert] %>
       <p class="alert"><%= flash[:alert] %></p>
      <% end %>

      <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
      <% end %>
      <h1><%= @header %></h1>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
